@model AccFlex.Models.Course

@{
    ViewData["Title"] = "Details";
}


<h1 class="text-muted text-center">
    <i class="bi bi-list"></i>
    Details
</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration) Months
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">
        <i class="bi bi-arrow-return-left"></i>
        Back to List
    </a>
</div>
